@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@font-face {
  font-family: 'tituloBrown';
  src: url('Brown Sugar .otf') format('opentype'),
    url('Brown Sugar .ttf') format('truetype');

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none
}

.container-services,
.container-portfolio,
.container-noiva,
.container-endereco {
  font-family: "Cormorant Garamond" !important;
  /* background-color: #F0E8E5; */
  text-align: center;
  padding: 2rem 0;

  width: 100%;
}

.name h2 {
  font-family: tituloBrown, 'verdana';
  color: #ffffff;
  font-weight: 500;
  font-size: 4.5rem;
}

.animated-text {
  font-size: 3rem;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  content: "";
  animation: writeText 4s steps(50) forwards;
  animation-timing-function: ease-in-out;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1.7) 100%, rgba(0, 0, 0, 1) 120%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding-top: 1rem; */
  /* background: black; */
  height: 10em;
  font-family: Quicksand;
}


@keyframes writeText {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 45%;
    opacity: 1;
  }
}

.container_logo {
  background-image: url(/assets/images/IMG_7098_202944.jpeg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.main_description {
  font-weight: 200;
  font-size: 25px;

  color: #ffffff;
}

.menu-items a {
  text-decoration: none;
  color: #fff;
}

.menu-items {
  display: flex;
  gap: 3rem;
}

.traco-redes-sociais-fixo {
  width: 2px;
  background-color: #4b4b4b;
  height: 100%;
  position: fixed;
  left: 40px;
  top: 0;
  bottom: 0;
  z-index: 999;
}

.redes-sociais-fixo {
  display: flex;
  padding: 20px 0;
  z-index: 1000;
  background-color: #C3ACA2;
  color: #FFFFFF;
  width: 3rem;
  position: fixed;
  left: 17px;
  top: 40%;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  height: 6em;
  justify-content: space-between;
  font-size: 20px;

}

.redes-sociais-fixo a {
  color: #fff;
  text-decoration: none;
}

main {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* apresentaÃ§Ã£o */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.apresentacao {
  display: flex;
  align-items: center;
  font-family: "Cormorant Garamond" !important;
  flex-direction: row;
  padding: 6rem 0;

}

.apresentacao img {
  width: 22rem;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  padding-right: 2rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 300;
  color: #413f3b;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  color: #413f3b;
  letter-spacing: 3px;
  padding-bottom: 2rem;

}

.card-body {
  line-height: 22px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: Quicksand;
  font-weight: 300;
}



/*services*/
.owl-stage .owl-item {
  width: auto !important;
}

.container-services,
.container-portfolio {
  padding: 5rem 0;

  width: 100%;

}

.services {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;

}

/* .container2 {
  position: relative;
  display: inline-block;
} */

.image-container {
  width: 22rem;
  height: 35rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;

}

.image-container img {
  /* max-width: 100%;
  /* max-height: 100%; */
  transform: scale(1.03); 
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out; 

  width: 100%; /* Ajuste para ocupar toda a largura da div */
  height: 100%; /* Ajuste para ocupar toda a altura da div */
  object-fit: cover; /* Ajuste para manter a proporção da imagem */
  position: absolute; /* Para posicionamento da imagem */
  top: 0; /* Posicionamento da imagem */
  left: 0; 
}

.container2:hover .image-container img {
  transform: scale(1);
}


.imagem {
  display: block;
  max-width: 100%;
  height: auto;

}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.texto-container {

  text-align: right;
  margin-bottom: 1rem;
}

.texto-animado {
  margin-right: 20px;
  opacity: 0;
  color: white;
  font-size: 24px;
}

.underline {
  width: 0;
  height: 1px;
  background-color: white;
  margin-top: 10px;
}

@keyframes escrevendo {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* .container2 {

  object-fit: cover;
} */

.container2:hover .overlay {
  opacity: 1;
}

.container2:hover .texto-animado {
  animation: escrevendo 1.5s forwards;
}

.container2:hover .underline {
  animation: expandUnderline 1.5s forwards;
}

@keyframes expandUnderline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* serviços */
.secao-servicos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-servico {
  width: 15rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card-servico img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.card-servico:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-servico:hover img {
  filter: brightness(80%);
}

.card-servico p {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.card-servico:hover p {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Noivas */
/* Estilo geral */

/* Seção noiva */
.container-noiva {
  background-color: #F6F3EC;
}

.noiva {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px auto;
  max-width: 50rem;
  /* height: 50rem; */
}

/* Imagem da noiva */


.imagem img {
  width: 100%;
  max-width: 25rem;
  min-width: 25rem;
}

.imagem #img2 {
  /* position: absolute; */
  /* top: 22rem;
    left: 5rem; */
}

/* Texto da seção */
.texto {
  /* width: 50%; */
  padding: 20px;
  font-family: Quicksand;
  text-align: left;

  line-height: 22px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: Quicksand;
  font-weight: 300;

}

.texto h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.texto p {
  margin-bottom: 10px;
}

.texto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.texto ul li {
  margin-bottom: 5px;
}

.texto strong {
  font-weight: 500;
}

/* Estilos gerais */

.wrapper {
  text-align: center;
  margin: 20px auto;
  padding: 2rem;
  width: -webkit-fill-available;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #E9D9C8;

}

h3 {
  text-transform: uppercase;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 10px;
  color: #fff;
}

button {
  letter-spacing: .1em;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #E9D9C8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fbf3f7;
  font-family: Quicksand;
}

/*Footer*/

footer {
  font-family: var(--description-text);
  background-color: #111;
  color: #fff;
  padding: 20px 0;
}

.container_footer {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
}

.logo_footer {
  background-image: url(/assets/images/IMG-4124.PNG);
  background-size: cover;
  height: 30vh;
  width: 40vw;
  background-position-y: 50%;
}

.contact_header .social-icons {
  width: 25%;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin: 10px;

}

.social-icons a {
  color: #fff;
  font-size: 25px;
  transition: all .2s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.dev-info {
  border-top: 1px solid #4c4c4c;
  padding: 20px 20px 0 20px;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

.footer_nav {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 10px;
  letter-spacing: 0.5px;
  flex-direction: column;
  align-items: center;
}

.col-md-4 {
  font-size: 20px;
}

/*Responsividade*/
@media screen and (max-width: 1100px) {
  .menu {
    height: 0;
    width: 0;
  }

  .menu-items {
    width: auto;
  }

  .container_ {
    background-image: linear-gradient(2deg, #000000 -7%, #52454500 50%);
    height: auto;
  }

  .sobre_mim {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo {
    background-image: url(/assets/images/fundo-preto-e-branco.jpg);
    -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 20%);
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .description {
    margin: 5%;
    width: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_center {
    flex-direction: column;
  }

  .gallery {
    grid-template-rows: repeat(8, 10vw);
    grid-gap: 1rem;
  }

  .container2 {
    height: auto;
    padding: 5%;
    gap: 20px;
  }

  .servicos {
    flex-wrap: wrap;
    gap: 20px;
  }

  .servico__item {
    width: 195px;
  }

  .aspas {
    top: -20px;
    left: -15px;
  }

  .aspas-direita {
    bottom: 60px;
    left: 19px;

  }

  .container4 {
    width: 100%;
  }

  .msg_final {
    padding: 5%;
  }

  .container_footer {
    flex-direction: column;
  }

  .logo_footer {
    width: 100%;
    background-position: center;
    height: 25vh;
  }

  .col-md-4 {
    margin: 10px;
  }

  .row {
    padding: 0 20% 10%;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .footer_nav {
    font-size: 11px;
    letter-spacing: 0.5px;
    margin: 5px;
    flex-direction: column;
  }

  .footer_p {
    padding: 5px;
  }

  .container4 {
    background-attachment: unset;
  }
}